$color1: #F8F8F8;
$color1_1: #EEEEEE;

$color2: #A39E9E;
$color3: #FFFFFF;
$color4: #0A0808;
$color5: #5A5A5B;
$color6: #7E7F7F; 



@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('./fonts/ProximaNova-Bold.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ProximaNova-Bold';
    src:  url('./fonts/ProximaNova-Bold.otf')  format('opentype'), 
    url('./fonts/ProximaNova-Bold.ttf')  format('truetype'), 
    url('./fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('./fonts/ProximaNova-Regular.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ProximaNova-Regular';
    src:  url('./fonts/ProximaNova-Regular.otf')  format('opentype'),
     url('./fonts/ProximaNova-Regular.ttf')  format('truetype'), 
     url('./fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  
  