@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("./fonts/ProximaNova-Bold.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("./fonts/ProximaNova-Bold.otf") format("opentype"), url("./fonts/ProximaNova-Bold.ttf") format("truetype"), url("./fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("./fonts/ProximaNova-Regular.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("./fonts/ProximaNova-Regular.otf") format("opentype"), url("./fonts/ProximaNova-Regular.ttf") format("truetype"), url("./fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

*:focus {
  outline: none !important;
}

body {
  position: relative;
  background: #F8F8F8;
  height: 1080px;
  font-family: "ProximaNova-Regular", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root .mainbody {
  width: 1638px;
  height: 970px;
}

#root #footer {
  position: absolute;
  bottom: 0px;
  background-color: #EEEEEE;
  height: 110px;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
}

#root #footer.active {
  height: 372px;
}

#side-nav {
  background-color: #EEEEEE;
  width: 282px;
  height: 1080px;
  -webkit-box-shadow: 0px 0px 5px 0px #7E7F7F;
          box-shadow: 0px 0px 5px 0px #7E7F7F;
  z-index: 99;
}

#side-nav .logo {
  -webkit-box-shadow: 0px 0px 5px 0px #7E7F7F;
          box-shadow: 0px 0px 5px 0px #7E7F7F;
}

#side-nav #nav-bar ul {
  padding: 0px;
  list-style: none;
  margin: 0px;
}

#side-nav #nav-bar ul li {
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
  cursor: pointer;
}

#side-nav #nav-bar ul li .img-wrapper {
  background-size: 100% 100%;
  background-image: url(../images/left_nav/select.png);
  padding: 25px 25px;
  margin-right: 15px;
  display: inline-block;
}

#side-nav #nav-bar ul li .img-wrapper img {
  display: inline-block;
}

#side-nav #nav-bar ul li.active {
  background-color: #0A0808;
  color: #F8F8F8;
}

#side-nav #nav-bar ul li.active img {
  filter: invert(1) contrast(500%);
  -webkit-filter: invert(1) contrast(500%);
}

.tab-pane {
  text-align: center;
  height: 628px;
}

.tab-pane.show {
  display: block;
}

.tab-pane img {
  -webkit-box-shadow: 0px 0px 10px 0px #A39E9E;
          box-shadow: 0px 0px 10px 0px #A39E9E;
}

.nav-tabs {
  margin: 50px auto 50px auto;
  border: 0px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  font-family: "ProximaNova-Bold", sans-serif;
  color: #0A0808;
  font-weight: bold;
  border: 0px;
  background: transparent;
}

.nav-link {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #7E7F7F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ProximaNova-Bold", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 70px;
  text-transform: uppercase;
}

.feo-input {
  border-radius: 25px;
  border: 0px;
}

.feo-input:focus {
  border-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#mainWrapper {
  overflow: hidden;
}

.keyboard-wrapper {
  position: relative;
}

.keyboard-wrapper .btn-close-keyboard {
  position: absolute;
  top: -20px;
  left: 60px;
  font-size: 60px;
  font-weight: bold;
}

.carousel-indicators {
  bottom: -45px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  margin: 2px;
  border-radius: 100px;
  border: 1px solid #EEEEEE;
  background-color: #7E7F7F;
}

.carousel-indicators li.active {
  margin: 0px;
  width: 15px;
  height: 15px;
  background-color: #0A0808;
}

.carousel-inner .block {
  height: 230px;
}

.modal-dialog {
  max-width: 1252px;
}

.modal-dialog .modal-content {
  background-color: transparent;
  border: 0px;
}

.modal-dialog .modal-footer {
  border: 0px;
}

.modal-dialog .modal-footer button.close {
  width: 130px;
  height: 75px;
  position: absolute;
  bottom: 55px;
  right: -120px;
  opacity: 1 !important;
  font-weight: 100;
  font-size: 100px;
  line-height: 1;
  color: #fff;
}

#myTab {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#myTab li {
  padding: 10px 15px;
  position: relative;
  max-width: 215px;
}

#myTab li:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 30px;
  border-right: 1px solid #A39E9E;
}

#myTab li:last-child:after {
  display: none;
}

.slider {
  height: 628px;
}

.slider .slick-dots {
  bottom: -50px;
}

.slick-slide {
  text-align: center;
}

.slick-slide img {
  margin: auto;
  height: 436px;
  margin-top: 100px;
}

.slick-slide.slick-current img {
  margin-top: 0px;
  height: 100%;
}

#fnb .carouselBlock img {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fnb #shuttleBus.active,
.fnb #nursingRoom.active {
  height: 460px;
}

.fnb #shuttleBus.active img,
.fnb #nursingRoom.active img {
  height: 100%;
}

#wayfindingbtn {
  position: absolute;
  bottom: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#category div:after {
  display: none;
}

#category div.active span {
  border-radius: 35px;
}

#category div span {
  font-size: 16px;
}

#wayfinding button {
  bottom: -20px;
  right: 180px;
}

.hideMenu {
  text-align: center;
  height: 0px;
  overflow: hidden;
}

.hideMenu.active {
  height: 145px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.hideMenu div {
  padding: 15px 25px;
  font-size: 30px;
  display: inline-block;
  font-weight: bold;
  color: #5A5A5B;
  position: relative;
  margin-left: -5px;
}

.hideMenu div.active span {
  border: 1px solid #0A0808;
  border-radius: 50%;
  background-color: #0A0808;
  color: #FFFFFF;
  padding: 15px 18px;
}

.hideMenu div:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 30px;
  border-right: 1px solid #A39E9E;
}

.hideMenu div:last-child:after {
  display: none;
}

.floor .floorList {
  background: #FFFFFF;
  padding: 34px;
}

.floor .floorList ul {
  margin: 0px;
}

.floor .floorList ul li {
  padding: 15px 25px;
  font-size: 30px;
  display: inline-block;
  font-weight: bold;
  color: #5A5A5B;
  position: relative;
  margin-left: -5px;
}

.floor .floorList ul li.active {
  padding: 9px;
}

.floor .floorList ul li.active p {
  border: 1px solid #0A0808;
  border-radius: 50%;
  background-color: #0A0808;
  color: #FFFFFF;
  padding: 5px 15px;
}

.floor .floorList ul li:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 21px;
  height: 30px;
  border-right: 1px solid #A39E9E;
}

.floor .floorList ul li:last-child:after {
  display: none;
}

.level {
  position: absolute;
  left: 55px;
  top: 50px;
}

.whatson #exampleModal img {
  height: 920px;
  width: 100%;
  margin: auto;
}

.whatson #exampleModal .modal-body {
  background-color: #FFFFFF;
  border-bottom: 10px solid #A39E9E;
}

.whatson #exampleModal #wayfindingbtn img {
  height: initial;
}
/*# sourceMappingURL=style.css.map */