@import "_color";

*:focus {
  outline: none !important;
}

body {
  position: relative;
  background: $color1;
  height: 1080px;
  // overflow: hidden;
  font-family: "ProximaNova-Regular", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  display: flex;

  .mainbody {
    width: 1638px;
    height: 970px;
  }
  #footer {
    position: absolute;
    bottom: 0px;
    background-color: $color1_1;
    height: 110px;
    overflow: hidden;
    transition: height 0.5s ease-in;
    &.active {
      height: 372px;
    }
  }
}

#side-nav {
  background-color: $color1_1;
  width: 282px;
  height: 1080px;
  box-shadow: 0px 0px 5px 0px $color6;
  z-index: 99;
  .logo {
    box-shadow: 0px 0px 5px 0px $color6;
  }
  #nav-bar {
    ul {
      padding: 0px;
      list-style: none;
      margin: 0px;
      li {
        padding-top: 25px;
        padding-bottom: 25px;
        text-transform: uppercase;
        cursor: pointer;
        .img-wrapper {
          background-size: 100% 100%;
          background-image: url(../images/left_nav/select.png);
          padding: 25px 25px;
          margin-right: 15px;
          display: inline-block;
          img {
            display: inline-block;
          }
        }
        &.active {
          background-color: $color4;
          color: $color1;
          img {
            filter: invert(1) contrast(500%);
            -webkit-filter: invert(1) contrast(500%);
          }
        }
      }
    }
  }
}

.tab-pane {
  text-align: center;
  height: 628px;
  &.show {
    display: block;
  }
  img {
    box-shadow: 0px 0px 10px 0px $color2;
  }
}

.nav-tabs {
  margin: 50px auto 50px auto;
  border: 0px;
  .nav-link {
    &.active,
    &:hover {
      font-family: "ProximaNova-Bold", sans-serif;
      color: $color4;
      font-weight: bold;
      border: 0px;
      background: transparent;
    }
  }
}

.nav-link {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: $color6;
}

// General Head
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ProximaNova-Bold", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 70px;
  text-transform: uppercase;
}

// General Input
.feo-input {
  border-radius: 25px;
  border: 0px;
  &:focus {
    border-color: transparent !important;
    box-shadow: none;
  }
}

#mainWrapper {
  overflow: hidden;
}

.keyboard-wrapper {
  position: relative;
  .btn-close-keyboard {
    position: absolute;
    top: -20px;
    left: 60px;
    font-size: 60px;
    font-weight: bold;
  }
}

// Bootstrap
.carousel-indicators {
  bottom: -45px;
  li {
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 100px;
    border: 1px solid $color1_1;
    background-color: $color6;
    &.active {
      margin: 0px;
      width: 15px;
      height: 15px;
      background-color: $color4;
    }
  }
}
.carousel-inner {
  .block {
    height: 230px;
  }
}

.modal-dialog {
  max-width: 1252px;
  .modal-content {
    background-color: transparent;
    border: 0px;
  }
  .modal-footer {
    border: 0px;
    button.close {
      width: 130px;
      height: 75px;
      position: absolute;
      bottom: 55px;
      right: -120px;
      opacity: 1 !important;
      font-weight: 100;
      font-size: 100px;
      line-height: 1;
      color: #fff;
    }
  }
}

#myTab {
  text-align: center;
  align-items: center;
  justify-content: center;
  li {
    padding: 10px 15px;
    position: relative;
    max-width: 215px;
    &:after {
      content: "";
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
      border-right: 1px solid $color2;
    }
    &:last-child:after {
      display: none;
    }
  }
}
// ## END Bootstrap ##

//Slick Slider JS
.slider {
  height: 628px;
  .slick-dots {
    bottom: -50px;
  }
}
.slick-slide {
  text-align: center;
  img {
    margin: auto;
    height: 436px;
    margin-top: 100px;
  }
  &.slick-current {
    img {
      margin-top: 0px;
      height: 100%;
    }
  }
}
// ## END Slick Slider JS ##

// FNB & Shops Pages
#fnb {
  .carouselBlock {
    img {
      width: 100%;
      box-shadow: none;
    }
  }
}

.fnb {
  #shuttleBus.active,
  #nursingRoom.active {
    height: 460px;
    img {
      height: 100%;
    }
  }
}

#wayfindingbtn {
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
}

#category {
  div {
    &:after {
      display: none;
    }
    &.active {
      span {
        border-radius: 35px;
      }
    }
    span {
      font-size: 16px;
    }
  }
}

#wayfinding {
  button {
    bottom: -20px;
    right: 180px;
  }
}

.hideMenu {
  text-align: center;
  height: 0px;
  overflow: hidden;
  &.active {
    height: 145px;
    transition: 0.5s ease-in;
  }
  div {
    padding: 15px 25px;
    font-size: 30px;
    display: inline-block;
    font-weight: bold;
    color: $color5;
    position: relative;
    margin-left: -5px;
    &.active span {
      border: 1px solid $color4;
      border-radius: 50%;
      background-color: $color4;
      color: $color3;
      padding: 15px 18px;
    }
    &:after {
      content: "";
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
      border-right: 1px solid $color2;
    }
    &:last-child:after {
      display: none;
    }
  }
}

// ## END FNB & Shops

// Floor Page
.floor {
  .floorList {
    background: $color3;
    padding: 34px;
    ul {
      margin: 0px;
      li {
        padding: 15px 25px;
        font-size: 30px;
        display: inline-block;
        font-weight: bold;
        color: $color5;
        position: relative;
        margin-left: -5px;
        &.active {
          padding: 9px;
          p {
            border: 1px solid $color4;
            border-radius: 50%;
            background-color: $color4;
            color: $color3;
            padding: 5px 15px;
          }
        }
        &:after {
          content: "";
          position: absolute;
          right: 0px;
          top: 21px;
          height: 30px;
          border-right: 1px solid $color2;
        }
        &:last-child:after {
          display: none;
        }
      }
    }
  }
}

.level {
  position: absolute;
  left: 55px;
  top: 50px;
}

// What's On page
.whatson #exampleModal {
  img {
    height: 920px;
    width: 100%;
    margin: auto;
  }
  .modal-body {
    background-color: $color3;
    border-bottom: 10px solid $color2;
  }

  #wayfindingbtn{
    img{
      height: initial;
    }
  }
}
